<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inger.beaconbeachler">
<!-- halla balla -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainPage"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Lyd_activity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.example.inger.beaconbeachler.Lyd_activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".WritingPage" />
        <activity
            android:name=".CameraPage"
            android:label="@string/title_activity_camera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BeaconPage"
            android:label="@string/title_activity_beacon_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
